.archives

  .card
    padding-top 0.5em
    padding-bottom 1em
    padding-left 1.5em
    padding-right 1em

    .heading
      position relative

      h1
        font-size 1.2em

      a
        text-decoration none
        color #666

      .date
        float right
        color #ccc

      &:before
        content '#'
        position absolute
        left -1em
        color skyblue
        font-size 1.2em

    .body
      color #888

    .meta
      .more
        font-size 0.9em
        color #888

  .page-nav
    margin 0
    padding 0.5em 0
    text-align center

    span, a
      display inline-block
      padding 0 0.2em
      text-decoration none
