.resume.wrap
  .page
    h1
      font-size 1.4em
      position relative

      &:not(:first-child)
        padding-top 1em

      &:before
        content "#"
        color #0cf
        position absolute
        left -1em

    table
      width 100%

      th
        text-align right
