extends _partial/base

append head
  != css('css/index')

block container
  .home.wrap
    .overlay
    .profile.card
      .image-wrapper
        .image
          img(src=url_for('img/avatar.png'))

      .text-wrapper
        .text
          h1 Zhi Wang
          p 一个平凡的的奋斗者。
