extend _partial/base

block container
  .home.wrap
    .overlay
    .profile.card
      .image-wrapper
      .image
        img(src="https://uploads.branded.me/571c97af4f0468000df50668/571c980adf21bf000c57a3e3.png")
      
      .text-wrapper
        .text
          h1 Zhi Wang
          p Student of Northeastern University of China.
          p Search for something innovative.

