extend _partial/base

block container
  .home.wrap
    .overlay
    .profile.card
      .image-wrapper
        .image
          img(src=url_for('img/avatar.png'))

      .text-wrapper
        .text
          h1 Zhi Wang
          p Student of Northeastern University of China.
          p Search for something innovative.
