extends _partial/base

append head
  != css('css/index')

block container
  .home.wrap
    .overlay
    .profile.card
      .image-wrapper
        .image
          a(href="/resume-cv")
            img(src=url_for('img/avatar.png'))

      .text-wrapper
        .text
          h1.name #{config.authorName}
          p.description #{config.authorDescription}
