extends _partial/base

block header
  +header('/tags')

block container
  .tags.wrap
    .page
      .page-heading 标签云
      .tags.list
        each tag in site.tags.data
          .tag
            a(href=theme.menu.Tags + '/' + tag.name)= tag.name