{% extends "base.html" %}

{% block head %}
  {{ super() }}
  <meta name="author" content="{{ AUTHOR }}">
  <meta name="description" content="{{ META_DESCRIPTION|striptags }}">
{% endblock %}

{% block content %}
  {% block page_title %}{% endblock %}
  <div class="row">
    {% for article in articles_page.object_list %}
      <div class="post mini-post col-md-6">
        <div class="animated fadeIn">
          <div class="pull-left">
            <p class="post-date">
              <span class="month">{{ article.date.month }} 月</span>
              <span class="day">{{ article.date.day }}</span>
              <span class="year">{{ article.date.year }}</span>
              <!-- <a class="text-muted" href="/{{ article.url }}" title="{{ article.date.isoformat() }}">{{ article.date|strftime('%Y年%b月%d日') }}</a> -->
            </p>
          </div>
          <div class="post-body">
            <h2 class="post-title">
              <a href="/{{ article.url }}" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a>
            </h2>
            <p class="post-category">
              <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
            </p>
            <!-- {% if article.author and SHOW_ARTICLE_AUTHOR %} -->
              <address class="post-author">
                by <a href="{{ SITEURL }}/{{ article.author.url }}">{{ article.author }}</a>
              </address>
            <!-- {% endif %} -->
            <div class="post-content">
              {{ article.content|striptags|truncate(256) }}
            </div>
          </div>
        </div>
      </div>
      <!-- <hr/> -->
    {% endfor %}
  </div>
  {% include 'include/pagination.html' %}
</div>
{% endblock %}
