html, body
  margin 0
  padding 0
  width 100%
  height 100%
  position relative

a
  color #0e7cf1
  transition 0.5s

  &:hover
    color blue

  &:visited
    color skyblue

    &:hover
      color #0e88f1

body
  background-color #efefef
  font-family 'PingFang SC', '微软雅黑', 'Droid Sans', sans

.page
  margin auto
  max-width 800px

.page
  .page-heading
    text-align center
    font-size 1.2em
    padding-top 1em

.wrap
  background-color white
  padding 1em 0
  min-height 3em
  box-shadow 0 5px 10px #ccc

header
  background-color #0e7cf1
  font-size 1.1em
  padding-top 0.8em
  position relative
  box-shadow inset 0 -3px 15px #05f

  nav.page
    padding 0

    &:after
      content ' '
      display block
      clear both

    ul
      padding 0
      margin 0

      &.brand
        float left
        font-weight 800

      &.blog
        float left
        color white

        &:before
          content '{'
          display inline-block
          float left
          padding 0.5em 0
          line-height 2

        &:after
          content '}'
          display inline-block
          float right
          padding 0.5em 0
          line-height 2

      &.brand, &.blog
        li
          &:hover
            a:after
              border-bottom-width 0.3em

          a
            &:after
              content ' '
              display block
              width 0px
              position absolute
              bottom 0
              left 50%
              transform translate(-50%, 0)
              border-left 0.5em solid transparent
              border-right 0.5em solid transparent
              border-bottom 0 solid white
              transition-duration 0.2s

            &.on
              color #f9f9c9
              font-weight 600

              &:hover
                color #f9f9c9

              &:after
                border-bottom-width 0.5em

      &.social
        float: right

      li // all lis
        display inline-block
        position relative
        padding 0.5em
        line-height 2

        a
          text-decoration none
          color white
          transition 1s

          &:hover
            color yellow

footer
  min-height 3em
  padding 1em
  color #acacac

  .page
    position relative

  address.author
    font-style normal
    position relative
    display inline-block
    padding-top 0.5em

  a
    color #aaa

    &:hover
      color #888

  .rss
    position absolute
    right 0
    bottom 0

    a
      text-decoration none
      font-size 2em

@import "./_vars"

@import "./_part/home"
@import "./_part/archives"
@import "./_part/tags"
@import "./_part/post"

@import "./_part/highlight"
